<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }} | PETE SMITH</title>
<link rel="alternate" type="application/atom+xml" href="/atom.xml" />

<link rel="stylesheet" type="text/css" href="/css/site.css" />
</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1027834-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>

<body>
    <div id="main-container">
        <div id="header">
            <img src="/images/blog-cubabit-net.png" alt="blog.cubabit.net" width="420" height="60" />
            <a href="/archive.html">WRITING</a> | <a href="/code.html">CODE</a> | <a href="/about.html">ABOUT</a>
        </div>
        <div class="clear"></div>
        <hr />
        <div id="content">
            {{ content }}
        </div>
        <div id="footer">
            <hr />
            <p><a href="http://twitter.com/cubabit">TWITTER</a> | <a href="http://github.com/cubabit">GITHUB</a> | <a href="http://search.cpan.org/~cubabit">CPAN</a></p>
            <p>&copy; 2011 <a href="http://cubabit.net">Pete Smith</a>
        </div>
    </div>
</body>

</html>
